---
layout: default
---

<ul id="main-page">
    {% for post in site.posts %}
    <li>
        <h2>
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
        <p>{{ post.content | markdownify | strip_html | truncatewords: 50 }}</p>
    </li>
    {% endfor %}
</ul>
<div class="pagination">
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}<span class="previous">Previous</span>{% endif %}
    <span class="page_number "> • Page: {{ paginator.page }} of {{ paginator.total_pages }} • </span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}<span class="next ">Next</span>{% endif %}
</div>
